body {
    color: #ffffff;
    font-family: 'Inter', 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    line-height: 1.6; 
    margin: 15px;
    padding: 10px;
    background-color: #0D0D0D;
    overflow-x: hidden; 
    width: 100%;

}
h1{
    color: #FF5722;
    text-align: center;
    /* font-size:275%; */
  
}
h2{
    color: #4682B4 ;
    /* font-size: 150%; */
}

/* navigation  */

header{
    transition: background-color .5s;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
.navigation-sidenav {
    height: 95%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.navigation-sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    transition: 0.3s;
    font-size: 30px;
}
  
.navigation-sidenav a:focus {
    color: #f1f1f1; /*change the back ground coler when clicking the navigation menu */

}
  
.navigation-sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;
}
.logo-text{
    text-decoration: none;
    color: #ffffff; /* logo font color */
    font-weight: bold;
    position: absolute; /* Place it independently */
    top: 6px; /* Adjust vertical positioning */
    left: 60px; /* Adjust horizontal positioning */ 
    font-size: 50px; /* Adjust size */
    z-index: 1100; /* Ensure it appears above other elements */
    transition: margin-left 0.5s ease; /* Smooth movement */
}
#navigation-icon {
    transition: margin-left .5s;
    padding: 16px;
    background-color: #2c2c2c;  /* navigation bar background color */
    width: 100%;
    margin-bottom: 10px;
    padding-right: 16px;
    border-radius: 20px;
    color: #ffffff;  /* hammberger mark color */
    
}
/* end of the navigation */


/* footer */
.footer-container{
    width: 85%;
    position: relative;
    padding: 2%;
    justify-content: center;
    margin: 3%;
    

}

#contact_us { 
    color: #0056b3;
    text-align: center;
    font-size:40px;

    
}
.footer-container div p{
    color: #ffffff;
}
/* contact from */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ff5722;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: #000000;
    font-size: 30px;
    color: #333333;
    
    
    
}
input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ff5722;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: #000000;
    font-size:30px;
}
input[type=text]:focus {
    background-color: #4682b4;
    color: #ffffff;
} 
input[type=email]:focus {
    background-color: #4682b4;
    color: #ffffff;
} 
textarea:focus {
    background-color: #4682b4;
    color: #ffffff;
}   
input[type=submit] {
    background-color: #ff5722;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    height: 65px;
    font-size: 100%;
    text-align: center;
}
/* end of the contact from */
#footer-logo{
    justify-content: center;
    padding: 20px;
    width: 75%;
    height: 75%;
    position: relative;
}
input[type=submit]:hover {
    background-color: #4682b4;
 }

/* social media icons flexboxe */
.icon-img{
    width: 50px;
    height: 50px;
    
}
.footer-icon{
    display: flex;
    justify-content: left;
    gap: 13px;
    margin: 5%;
    
}

#footer-right{
    text-align: center;
    color: #999999;
}
/* end of the footer */

/* strart of the game page */
/* main image */
* {
    box-sizing: border-box;
}
  
img {
    vertical-align: middle;
}
  
/* Position the image container (needed to position the left and right arrows) */
.game-main-container {
    position: relative;
}
  
/* Hide the images by default */
.game-main-mySlides {
    display: none;
}
  
/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}
  
/* Next & previous buttons */
.game-main-prev,
.game-main-next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
  
/* Position the "next button" to the right */
.game-main-next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.game-main-prev{
    left: 0;
}
  
/* On hover, add a black background color with a little bit see-through */
.game-main-prev:hover,
.game-main-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
  
/* Number text (1/3 etc) */
.game-main-numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
/* Container for image text */
.game-main-caption-container {
    text-align: center;
    background-color: rgba(13, 13, 13, 0.5);
    padding: 2px 16px;
    color:#ffffff;
    
}
  
.game-main-row:after {
    position: relative;
    display: table;
    clear: both;
}
  
/* Six columns side by side */
.game-main-column {
    float: left;
    width: 16.66%;
       
}
  
/* Add a transparency effect for thumnbail images */
.game-main-demo {
    opacity: 0.6;
}
  
.game-main-active,
.game-main-demo:hover {
    opacity: 1;
}
/* main image */

/* content of  the games page  */
/* flexbox to  represent the games which has at the store */
.game-container{
    margin-top: 5%;
    position: relative;
    padding-top: 50px;
    display: flex;
    gap: 2%;
    margin: 2%;
    flex-wrap: wrap;
    width: 95%;
    justify-content: center;
    text-align: center;
  

}
.game {
    position: relative;
    background-color: #4682b4;
    border-radius: 30px;
    border: 1px solid #4a90e2;
    width: 100%;
    margin-bottom: 10px;
}
.game img{
    margin-top: 8px;
    width: 350px;
    height: 400px;
}
.game-container div {
  justify-content: center;
  
}
.game-container-text h2 {
  color: #FF5722;
  text-align: center;
}

.game-container-text h3{
  color: #ffffff;
  text-align: center;
}
.game-container-text h4{
    color: #4682b4;
    text-align: center;
}
/* end of the games page */


/* up coming viideo games  page */
/* main */
/* Slideshow container */
.up-main{
    box-sizing: border-box; 
}

.up-main-mySlides {display: none;}
.up-main-slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
  
/* Caption text */
.up-main-text {
    color: #ffffff;
   
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
  
/* Number text (1/3 etc) */
.up-main-numbertext {
    color: #f2f2f2;
    
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
/* The dots/bullets/indicators */
.up-main-dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.up-main-active {
    background-color: #717171;
}
  
/* Fading animation */
.up-main-fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
/*end main */

.up-game-section {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    gap: 3%;
    align-items: flex-start;
    flex-wrap: wrap; /* Allows wrapping for responsiveness */
}

.up-games {
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    
}



.up-image-container img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease, opacity 0.3s ease;
}


.up-image-container .up-details p {
    margin: 5px 0;
    font-size: 20px;
}


.up-title {
    margin: 10px 0 0;
    font-size: 40px;
    color: #ff5722;
}

.up-date{
    color: #4682b4;
    

}
.up-image-container img {
    width: 100%;
}

/* end up coming viideo games  page */


@media screen and (min-width: 1000px) {
    body{
        font-size: 60px;
        width: 100%;
    }
    h1{
        font-size: 200px;
    }
    h2{
        font-size: 100px;
    }
    /* Hide the hamburger icon */
    #navigation-icon {
        display: none;
    }

    /* Show the navigation links as a horizontal bar */
    #navigation-mySidenav {
        width: 100%; /* Full width for the nav bar */
        height: 150px; /* Adjust height to fit content */
        position: static; /* Static position for normal flow */
        background-color: #2C2C2C; /* Optional: match the header color */
        padding: 0; /* Remove unnecessary padding */
        display: flex; /* Flexbox for horizontal layout */
        flex-direction: row;
        justify-content: right; /* Center links horizontally */
        align-items: center; /* Center links vertically */

    }

    /* Style the navigation links */
    #navigation-mySidenav a {
        margin-right: 10px;
        padding: 10px 20px;
        font-size: 80px; /* Adjust font size for desktop */
        color: #ffffff; /* Match the header text color */
        
        
    }

    

    /* Remove the close button for desktop view */
    .navigation-sidenav .closebtn {
        display: none;
    }
    #myLinks{
        display: flex;
        flex-direction: row; 
        gap: 60px;    
        object-fit: cover;
    }
    #myLinks  :hover {
        color: #FF5722;
        
        box-shadow: 0px 4px 15px rgba(106, 13, 173, 0.6); /* Glow effect */
        font-weight: bold; /* Emphasize */

    }
    .logo-text {
        
        font-size: 90px;
        left: 40px; /* Adjust for mobile screens */
    }
    /* navigation bar */

       /* game section   */ 
    #game{
        font-size: 60px;
    }
    /* main image */
    .game-main-prev,
    .game-main-next {
        top: 40%;
        width: auto;
        padding: 16px;
        color: white;
        font-size: 100px;
    }
    /* .game-main-mySlides img{
        height: auto;
        object-fit: contain; 
    } */
    .game-main-numbertext{
        font-size: 50px;
    }
    



    /* game section */
    #game-head{
        margin-top: 5%;
    }


    .game-container {
        display: flex;
        justify-content: space-around; /* Distribute items evenly */
        align-items: center;
        flex-wrap: wrap; /* Allow wrapping on smaller screens */
        gap: 20px; /* Spacing between items */
        padding: 20px;
        width: 100%;
    } 
    .game{
        width: 900px;
        margin-bottom: 0;
    }
    .game img{
        width: 700px;
        height: 900px;
        
    }
    .game-main-mySlides img{
        height: 1500px;
    }
    .game-main-numbertext{
        font-size: 50px;
    }

    /* Container for text overlay */
    .game-container-text {
        position: relative;
    }
    /* Hide the h5 and p elements by default */
    .game-container-text h4,
    .game-container-text p {
       display: none;
    }

    /* Show h5 and p elements when hovering over the image */
    .game:hover .game-container-text h4,
    .game:hover .game-container-text p {
        display: block;
        width: 1200px; /* Limit width */
        height: auto;
    }

    .game:hover {
        width: 1200px; /* Limit width */
        height: auto;
    }

    /* Ensure other text remains visible */
    .game-container-text h2,
    .game-container-text h3{
        display: block;
    }
    /* end of the game section */
    


    /* up coming page */
    /* up comeing  section */

    #up-comig{
        margin-top: 5%;
        text-align: center;
        font-size: 60px;
    }
    /* main img */
    .up-main-slideshow-container {
        max-width: 100%; 
        position: relative;
        margin: auto;
        justify-content: left;
    }
      
    /* Caption text */
    .up-main-text {
        color: #ffffff;
        font-size:200%;
        bottom: 8px;
        width: 100%;
        
    }
      
    /* Number text (1/3 etc) */
    .up-main-numbertext {
        font-size: 60px;
    }
      
    /* The dots/bullets/indicators */
    .up-main-dot {
        height: 50px;
        width: 50px;
       
    }      
    .up-main-mySlides img{
        height: 1500px;
    }
    /* end of main */
    .up-image-container img {
        width: 100%;
        height: 100%;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }
    
    .up-image-container .up-details {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        opacity: 0;
        transition: opacity 0.3s ease;
        padding: 20px;
        box-sizing: border-box;
        
        color: #f0f0f0;
    }
    
    .up-image-container .up-details p {
        margin: 5px 0;
        font-size: 60px;
    }
    
    .up-image-container:hover img {
        transform: scale(1.2);
        opacity: 0.5;
    }
    
    .up-image-container:hover .up-details {
        opacity: 1;
    }
    
    .up-image-container img {
        width: 1500px;
    }
    .up-image-container {
        position: relative;
        width: 100%;
        height: 900px;
    }
    .up-title{
        font-size: 70px;
    }
    /* end of the up coming page */



    /* footer */
    footer{
        height: 1000px;
        position: relative;
    }
    #contact_us{
        text-align: left;
        font-size: 100px;
        
    }
   
    .footer-container{
        margin-top: 5%;
        display: flex;
        width: 100%;
        gap: 5%;
        height: 1500px;
    }
    .footer-container div{
        width: 100%;
        height: auto;
        position: relative;
    }
    .footer-container div p{
        font-size: 80px;
    }
    input[type=text], select, textarea {
        font-size: 70px;
    }

    input[type=email] {
        font-size:70px;
    }
    
    
      
    input[type=submit] {
        height: 70px;
    }
    /* social media icons flexboxe */
    .icon-img{
        width: 300px;
        height: 300px;
    
    }
    .footer-icon{
        justify-content: center;
        gap: 13px;
        margin: 5%;
    }
    #footer-logo{
        height: 1500px;
    }
    /* end of the footer */
}